/* Projects.css */
.projects-container {
  padding: 20px;
  text-align: center;
  color: purple;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: hwb(0 85% 14% / 0.859);
  color: #5d00ff;


  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-links {
  margin-top: 15px;
}

.project-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.project-links a:hover {
  text-decoration: underline;
}
body{
  background-color: black;
}
